root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,adoc,todo}]
indent_size = 2
indent_style = space

[*.{html,json,css,scss,js,ts}]
indent_size = 2
indent_style = space
